@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
  }

  body {
    min-width: 320px;
    max-width: 100%;
  }

  body, #root, .app {
    min-height: 100%;
  }

  .app {
    display: flex;
    flex-direction: column;
  }

  /* footer {
    margin-top: auto;
  } */

  .divider {
    height: 0.1px;
    margin: 1.25rem 0;
  }

  .cart__num {
    width: 17px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .item__shadow {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  }

  .__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
  }

}